$primary: #a27b5c;
$light: #dcd7c9;
$dark: #3f4e4f;
// $secondary: #a08874;
.navbar-nav {
  align-items: center;
}
.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}
.swiper {
  padding: 4rem 0 !important;
}

.swiper-wrapper {
  margin-bottom: 2rem;
}
.swiper-slide {
  padding: 0 2rem;
}
section {
  flex-direction: column;
}
// post layout
.post-layout {
  margin-top: 6rem;
}
// postlayout btn
.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.btn-container-col {
  padding: 0 calc(1.5rem * 0.5);
}
.btn-more {
  width: 100%;
}

// tags
.contenedor {
  margin-top: 4rem;
}
.tags-link {
  padding-right: 0.5rem;
}
@media (max-width: 576px) {
  .row {
    justify-content: center;
  }
}
// footer
.footer {
  margin-top: 4rem;
  padding: 2rem 0;
}
.row-footer {
  justify-content: center;
}
.row-footer .row {
  margin-left: 0;
  justify-content: flex-start;
}
// login
.login-container {
  height: 60vh;
}
//
.ql-editor.ql-blank {
  min-height: 50px !important;
  max-height: 50px !important;
  border: 1px solid black;
}
.ql-editor {
  min-height: 50px !important;
  border: 1px solid black;
}
.ql-toolbar.ql-snow {
  border: 1px solid black !important;
}
.loader {
  height: 70vh;
}


@import "~bootstrap/scss/bootstrap.scss";
